:root {
  --white: #fff;
  --deep-blue: #051039;
  --deep-green: #248280;
  --green: #4f9b99;
  --black: #000;
  --orange: #fe8c2c;
  --gray: #d9d9d9;

  --body-color-light: #e8e8ea;
  --body-color-dark: #638aa8;

  --background-add-dialog-color-lite: rgba(220, 220, 220, 0.5);
  --background-add-dialog-color-dark: rgba(99, 138, 168, 0.5);

  --main-text-color-lite: #545454;
  --background-button-color-dark: #c15a47;
  --text-button-color-dark: #39c6d2;
  --background-input-color-dark: #b1c4d3;
  --background-calendar-item-color-dark: #feae6b;
  --text-calendar-day-color-lite: #838383;
  --border-bottom-color-lite: #dcdcdc;
}

:root {
  --color-body-background: var(--body-color-light);
  --color-container-background: var(--white);
  --color-add-dialog-background: var(--background-add-dialog-color-lite);
  --color-text-main: var(--main-text-color-lite);
  --color-button-background: var(--orange);
  --color-button-text: var(--white);
  --color-input-background: var(--white);
  --color-input-outline: var(--gray);
  --color-task-item: var(--black);
  --color-calendar-scrollbar-background: var(--white);
  --color-calendar-scrollbar: var(--gray);
  --color-calendar-item-background: var(--white);
  --color-calendar-day-text: var(--text-calendar-day-color-lite);
  --color-calendar-date-text: var(--black);
  --color-calendar-button-active: var(--black);
  --color-calendar-button-text-active: var(--white);
  --color-calendar-button-hover: var(--orange);
  --color-border-bottom: var(--border-bottom-color-lite);
  --color-button-outline: var(--gray);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-body-background: var(--body-color-dark);
    --color-container-background: var(--deep-blue);
    --color-add-dialog-background: var(--background-add-dialog-color-dark);
    --color-text-main: var(--deep-green);
    --color-button-background: var(--background-button-color-dark);
    --color-button-text: var(--text-button-color-dark);
    --color-input-background: var(--background-input-color-dark);
    --color-input-outline: var(--deep-blue);
    --color-task-item: var(--green);
    --color-calendar-scrollbar-background: var(--deep-blue);
    --color-calendar-scrollbar: var(--deep-green);
    --color-calendar-item-background: var(
      --background-calendar-item-color-dark
    );
    --color-calendar-day-text: var(--green);
    --color-calendar-date-text: var(--green);
    --color-calendar-button-active: var(--green);
    --color-calendar-button-text-active: var(--deep-blue);
    --color-calendar-button-hover: var(--text-button-color-dark);
    --color-border-bottom: var(--green);
    --color-button-outline: var(--deep-blue);
  }
}

body {
  min-height: 100vh;
  background: var(--color-body-background);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
